/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require_self
 *= require distinctive

 */
 body {
 	padding-top:2em;
 }

.container-narrow {
	margin: 0 auto;
	max-width: 70%;
}

 .container {
 	width: 100%;
 }

 /* Navbar links: increase padding for taller navbar */
 .navbar .nav > li > a {
 	padding: 20px 25px;
 }
 /* Downsize the brand/project name a bit */
 .navbar .brand {
 	padding: 20px 20px 25px; /* Increase vertical padding to match navbar links */
 	font-size: 24px;
 }

 .spacer-10 {
 	padding:10px;
 }

 .spacer-20 {
 	padding:20px;
 }
