<div id="login" class="well well-raised">
	<div class="row-fluid">
		<h3>Manage your Subscription</h3>
	</div>
	<div class="row-fluid">
		<%= link_to "Cancel my account", plan_user_path(@subscription.plan_id, current_user), :data => { :confirm => "Are you sure?" }, :method => :delete %>
	</div>	
</div>

